/*default setting*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --grey: #606060;
  --label-color: #5F5354;
  --red: red;
  --logoblue: #249cdc;
}

.card {
  border: none;
}
li {
  list-style: none;
}
a ,span{
  text-decoration: none;
}
a:hover {text-decoration:none;}
/*body {
  min-height: 600px;
}*/
img:hover ,video:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.acbtn:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.wrap {
  width: 1010px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  min-height: 550px;
  padding: 40px 0;
}
a ,a:hover{
  color: inherit;
}
a, a:visited {
    color: #003569;
    text-decoration: none;
}

p {
  font-size: 1.3rem;
}

.my-gray {
  color: gray;
}

.map_canvas {
  width: 100%;
  height: 400px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.top {
  height: 50px;
}
.navbar {
	position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 0 3px #9d8e87;
}

.top-icon {
  margin: 0 auto;
  width: 110px;
}
.humbarger-menu {
  display: none;
}
.bar-content{
  /*display: none;*/
}
/*top.blade*/

.card_item_img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.card_item_detail {
    padding: 10px;
}

.card_item_name {
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    overflow: hidden;
}

.star {
  opacity: 1;
}
.rating-number {
  font-size: 10px;
}



/*rating*/

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

/*slideshow*/
#slide{
  position:relative;
}
#slide img{
  position:absolute;
  left:0;
  top:0;
}
#nav-l,#nav-r {
  font-size: 20px;
}

/*footer*/
.footer {
    display: table;
    width: 100%;
    padding: 50px 0;
    margin-top: auto;
    text-align: center;
    background-color: #fff;
}
.container-footer {
    display: table-cell;
}


.main {
  display: flex;
  flex-wrap: wrap;

}
.main-content {
  width: calc(50% - 10px);
}


.card_item {
   /* border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #ede0cc;
    box-sizing: border-box;*/
}
.bottom-content-list {
  box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 8px 20px rgba(0,0,0,.1);
  padding: 1rem 0;

}

/*.bottom-content-list .content-title {
  display: block;
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 10px;
}*/
/*.content-list {
  display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
}*/
.content-list-text {
  display: table-cell;
    width: 80%;
    text-align: left;
    vertical-align: top;
    position: relative;
}

.fa-color {
  color: #fff;
}
.content-header {
    position: relative;
    /*background: #effaf8;*/
    padding: 10px 0 10px 10px;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 2px solid var(--logoblue);
    margin: 20px 0;
}

.card_item_tag {
  font-size: 1.2rem;
  word-wrap: break-word;
  /*padding-left: 3rem;*/
}

/* メッセージ */
.alert {
    width: 300px;
    display:block;
    /*margin:0 auto;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 7%;
    left: 10%;
}

.avatar_name {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.search-icon {
  position: absolute;
  top: 2px;
  left: 150px;
}

.pac-input {
  display: inline-block;
    position: relative;
    margin: 0;
    border: 1px solid #ddd;
    color: #333;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    width: 250px;
    height: 30px;
    padding: 0 8px 0 30px;
    border: 1px solid #eee;
    border-radius: 3px;
    font-size: 12px;
}
.m-header-inner {
    /*position: relative;*/
    width: 1010px;
    margin: 0 auto;
    height: 50px;
    /*padding-top: 20px;*/
}
.m-header-search-button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    height: 30px;
}
/*.m-header-search-button:before{
  content: 'f002';
  font-family: FontAwesome;
}*/

.nav-search-poosition {
  position: absolute;
  top: 20px;
  left: 160px;
  font-size: 1.5rem;
  color: #ddd;
}

.m-header-navi {
  display: inline-block;
    position: absolute;
    right: 15rem;
    top: 0px;
    white-space: nowrap;
}

.not-login {
  right: 23rem;
}

.notice-nav {
  display: inline-block;
  position: absolute;
  right: 22rem;
  top: 0px;
  white-space: nowrap;
}
.nav-lists li {
  border-bottom: 1px solid #e7e7e7;
  height: 40px;
  padding: 10px 15px;
  color: #999;
  font-size: 10px;
  line-height: 1;
}

.bellpos {
  top: 1rem;
  position: relative;
}

.badge-pos {
  border: 1px solid;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: .2rem .5rem;
  position: relative;
  top: -1rem;
  right: 1rem;
}

.dbmenu {
  left: -9rem;
  padding: 0;
}
.m-header-navi-menu {
    display: inline-block;
    height: 30px;
    margin-left: 25px;
    font-size: 12px;
    letter-spacing: normal;
}

nav .border {
    right: 71px;
}
.sign {
  position: absolute;
  top: 15px;
  right: 59px;
  font-size: 14px;
  color: #5F5354;
  line-height: 20px;
  text-decoration: none;
}

.dbmenu li:hover {
  
}

@media (max-width: 480px){
  .title-or {
      margin: 16px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #5F5354;
      text-align: center;
      line-height: 20px;
  }
  .auth-name:after {
    content: '';
    width: 14px;
    height: 14px;
    border: 0px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 21px;
    right: 16px;
  }
  .authlogsign {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0px;
  }
  .LinkToMyPage {
      background: var(--logoblue);
      background-size: 20px 20px;
      background-position: left;
      height: 60px;
      line-height: 60px;
  }
  .linktoLog {
    text-align: center;
  }
  .auth-name {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .LinkToMyPage img {
      height: 32px;
      width: 32px;
      margin: 14px 8px 14px 16px;
      display: inline-block;
      border-radius: 50%;
  }
  .app {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
  .col-md-9, .col-md-3 ,.col-md-8, .col-md-4{
    padding: 0;
  }
  /*body {
  min-height: 600px;
  }*/
  .wrap {
    width: auto;
    min-height: 500px;
    padding: 0;
  }
  .main-content {
    width: calc(50% - 10px);
  }

  .humbarger-menu {
    display: block;
  }
  #nav-drawer {
    position: relative;
  }

  .top-icon {
    margin: 0 auto;
    width: 110px;
  }

  .search-icon {
    position: absolute;
    top: 0;
    left: 34rem;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 80%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%);/*左に隠しておく*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }

  .search-content {
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    background-color: #e0e0e0;
  }

  .m-search-header-title {
    font-size: 18px;
    letter-spacing: .1em;
    padding-top: 14px;
    text-align: center;
  }

  .close-icon {
    top: -45px;
    position: relative;
    left: 5px;
  }
  .m-search-header {
    height: 45px;
    background-color: #fff;
  }

  .topsearch-tab {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  .topsearch-tab>.tab {
    display: table-cell;
    width: 50%;
    text-align: center;
  }

.topsearch-tab>.tab>.item {
    display: block;
    height: 50px;
    line-height: 13px;
    padding-top: 19px;
    padding-bottom: 18px;
    border-bottom: 1px solid #eceef0;
    font-size: 1.3rem;
    color: #929496;
    text-decoration: none;
}
.topsearch-tab>.tab.-active>.item {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}
.form-content2 {
  display: none;
}
.topbar-form-input {
  width: 100%;
  margin: 0 auto;
  /*height: 20px;*/
  padding: 10px 10px 10px 34px;
  font-size: 16px;
  line-height: 22px;
}

.form-content , .form-content2{
  margin: 0 auto;
  width: 80%;
}

.input-search-icon {
  position: relative;
  top: -5rem;
  right: -1rem;
  color: #e0e0e0;
}

  /*.login-position {
    text-align: center;
  }*/
  /*.auth-btn {
    display: block;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin: 1rem 3rem;
  }*/

  .sidebar-list {
    display: block;
    margin: 0 3rem;
    border-top: 1px solid #e0e0e0;
  }

  .sidebar-list-last {
    border-bottom: 1px solid #e0e0e0;
  }
  .spot-diastance {
    font-size: 1.6rem;
    font-weight: bolder;
    color: var(--red);
  }
  .content-list-text {
    padding-left: 1.5rem;
  }
  .sidecan {
    line-height: 30px;
    margin: 14px 8px 4px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #5F5354;
  }
  .sidebarcan {
    padding-left: 30px;
    text-decoration: none;
    display: block;
    line-height: 48px;
  }

  .sidebarcan span {
    color: #5F5354;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 1rem;
    position: relative;
    right: -1rem;
    top: -.5rem;
  }
  .noticerable:after {
    position: absolute;
    height: 5px;
    width: 5px;
    content: '';
    top: 214px;
    border: 1px solid var(--red);
    background-color: var(--red);
    border-radius: 50%;
    right: 24.5rem;
  }
  .sidecolor {
    color: var(--logoblue);
  }

}
@media (max-width: 320px) {
  .search-icon {
    left: 29rem;
  }
}


