.col-md-8 {
    padding: 0;
}

.slide_item_img {
    display: inline-block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.slide_item_video {
    display: inline-block;
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.slide-backgraound {
	background-color: black;
}

.spot_name {
    font-size: 2rem;
    margin: 1rem 0;
}
.sns-section {
    margin: 1rem 0 2rem 0;
}
.map-direction {
    margin: 3rem auto;
    width: 60%;
    text-align: center;
    padding: 5px;
    border: 1px solid;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}
.slick-next {
    right: 2px;
}
.top_avatar_name2 {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-left: auto;
    position: relative;
    right: -22rem;
}
.direction-map {
    display: inline;
}
.address_detail {
    color: #808080;
}
.comment-section {
    border-top: 1px dotted #e7e7e7;
    border-bottom: 1px dotted #e7e7e7;
    max-height: 200px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

}
.comment-fas {
    margin-right: 1rem;
    float: left;
}
.comment-h3 {
    margin: 1rem 0;
}
.comment-title {
    font-size: 1.6rem;
    margin-bottom: 0;
    position: relative;
    top: .5rem;
}

.around-section {
    margin: 2rem 0;
}
.result-icons {
    text-align: right;
}

.switch-left {
    margin-right: 1rem;
}
.switch-bottom {
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
}
.modal-pos {
    float: right;
    position: relative;
    top: -3rem;
    right: 61rem;
    font-size: 1.5rem;
    overflow: visible;
}
.us-name {
    font-size: 1.4rem;
    padding-left: 1rem;
    position: relative;
    top: .3rem;
    font-weight: 800;
}
.fav-btn {
    border: none;
}

.likes_count {
    font-size: 1.2rem;
}
.del-open {
    position: relative;
    top: 1rem;
    right: 1rem;
}
.delpos {
    text-align: center;
}
.contente-deletebtn {
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    position: relative;
    top: -.7rem;
}
.delconsub {
    color: #fff;
    background-color: red;
}

.likes-btn {
    position: relative;
    right: .5rem;
    margin: 1rem 0;
}

.poptags {
    margin: 1rem;
}

.content-blocker {
    margin-top: 4rem;
}


/*mobile*/
@media (max-width: 480px){
    .del-open {
        position: relative;
        top: 0rem;
        right: -15rem;
    }

    .like-postision {
        margin-bottom: 1rem;
    }
    .modal-pos {
        float: right;
        position: relative;
        top: -1rem;
        right: 33rem;
        font-size: 1.5rem;
        overflow: visible;
    }
    .top_avatar_name2 {
        right: 0;
        width: 25px;
        height: 25px;
    }
    .content-new-title {
        float: left;
        display: block;
        font-weight: 700;
        font-size: 1.8rem;
        /*padding-top: 10px;*/
        margin-top: -4px;
        margin-bottom: 0;
        padding-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
    }
    .user-block {
        text-align: right;
        margin-top: .5rem;
    }
    .map-direction {
        width: 100%;
    }
    .direction-map {
        font-size: 1.4rem;
        
        letter-spacing: 1px;
    }
    .history-back {
        /*position: relative;
        right: -22rem;*/
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
    .comment-h3 {
        margin: 1rem 0;
    }

    .likes_count {
        position: relative;
        top: -1.8rem;
        right: -2rem;
    }
    .likes-btn {
        height: 2.5rem;
        padding: 0;
        position: relative;
        top: 0rem;
        right: 0;
        margin: 0;
    }
    .get-current {
        width: 100%;
        padding: 0;
        /*border: 1px solid;*/
    }
    .current-p {
        text-align: center;
        margin-bottom: 0;
        padding: 1rem 3rem;
    }
    .slick-dots li {
        width: 10px;
        height: 10px;
    }
    .content_list {
        padding-left: 0;
    }
}