.top-display {
	width: 100%;
	/*background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url('/item/test.png') no-repeat center center;*/
  background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7)),url('/item/test.png') no-repeat center center;
  /*background-position: center center;
  background-size: cover;*/
  padding: 1px;
    /*margin-bottom: 2rem;*/
    height: 350px;
}
.main {
	display: flex;
	flex-wrap: wrap;

}
.main-content {
	width: calc(50% - 10px);
	margin: 5px;
  float: left;
  height: 380px;
  position: relative;
  /*border: 1px solid #e0e0e0;*/
  box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 8px 20px rgba(0,0,0,.1);
}

.card_item_img2 {
    display: inline-block;
    width: 90px;
    height: 100px;
    border-radius: 2px;
    object-fit: cover;
    /*position: relative;
    right: .5rem;*/
}
.card_item {
    /*border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 0 3px #ede0cc;
    box-sizing: border-box;*/
    position: relative;
}
.new-content-list {
    box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 8px 20px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 1px dotted #e7e7e7;
    width: 48%;
    float: left;
    margin: .5rem;
}
.imglefter {
  float: left;
}
.new-content-list .content-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
	display: block;
  font-weight: 700;
  font-size: 1.8rem;
  /*padding-top: 10px;*/
  /*margin-bottom: 5px;*/
}
.content-list {
    min-height: 135px;
    max-height: 135px;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
}


.content-list-text .card_item_text {
    font-size: 10px;
    word-wrap: break-word;
}
.camera-position {
    display: block;
    height: 200px;
}
.video-icon:after {
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  content:'\f03d';
  font-family: FontAwesome;
  color:#fff;
}

.top_avatar_name {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  object-fit: cover;
  margin-left: auto;
  position: relative;
  top: -3rem;
  background-color: #fff;
}
.user_name {
  position: relative;
  top: -2rem;
  font-size: 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90px;
}
.card_item_detail {
  /*border: 1px solid #e0e0e0;*/
  position: relative;
  top: 17rem;
}
.ranking_item_name {
  height: 17px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}
.ranking_address {
  line-height: 10px;
  overflow: hidden;
  font-size: 1rem;
  height: 40px;
  color: var(--grey);
}
.ranking_tag {
  line-height: 15px;
  overflow: hidden;
  font-size: 1.3rem;
  height: 36px;
}

.ranking_bottom {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: -webkit-flex-start;
  margin-bottom: 1rem;
  height: 30px;
  position: relative;
}
.ranking_img {
    display: inline-block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .ranking_video {
    display: inline-block;
    width: 100%;
    height: 200px;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
  }

  .likes_count {
    font-size: 1.5rem;
    position: relative;
    right: -.5rem;
    top: -.5rem;
    height: 35px
  }
  .content-list-text .card_item_text {
    word-wrap: break-word;
    width: 175px;
  }

  .ranking-num {
    padding: 2px 8px;
    font-size: 20px;
    border: 1px solid #007bff;
    position: relative;
    top: -.1rem;
    z-index: 100;
    background-color: #fff;
  }

  .content-group {
    padding-bottom: 3rem;
    /*border-bottom: 1px solid #e0e0e0;*/
  }

  .top-form {
    text-align: center;
    position: relative;
    top: 16rem;
  }
  .top-form-input {
    width: 50%;
  }
  .search-result-word {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  .ranking-video-icon {
    position: relative;
    top: 0rem;
    z-index: 100;
    right: -25rem;
  }

  .switch-bottom {
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
  }

  .content-top {

  }

  .likes {
    display: -webkit-inline-box;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }
  .top_avatar_name2 {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-left: auto;
    position: relative;
    right: -22rem;
  }

  .result-icons {
    text-align: right;
  }

  .switch-left {
    margin-right: 1rem;
  }
  .current-p {
    color: #fff;
    background-color: #03a9f4;
  }
  .user-thumb {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .side_user-thumb{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    object-fit: cover;
    float: left;
    margin-right: 1rem;
  }

.side-user-wrap {
  margin: 0  1rem;
  padding: 1rem 0;
  /*border-bottom: 1px dotted #e7e7e7;*/
}


.user-name {
    font-size: 12px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.tag {
    margin: 6px 3px 0 3px;
    display: inline-block;
    height: 20px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 3px;
}
ul {
  padding: 0;
}
.tag a {
    padding: 5px 12px 5px 12px;
    background: 0 0;
    border-radius: 3px;
    font-family: HelveticaNeueDeskInterface-Regular!important;
    color: rgba(0,0,0,.87);
    text-decoration: none;
    height: 22px;
    font-size: 12px;
}
/* メッセージ */
.alert {
    width: 300px;
    display:block;
    /*margin:0 auto;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 11%;
    left: 10%;
}

.new-video-icon {
    position: absolute;
    top: -6rem;
    z-index: 100;
    right: 1rem;
}
.po-u-section {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    height: 20px;
}
.side-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}
.content-list-text {
  width: 60%;
  float: right;
  position: relative;
  top: 2rem;

}

.content-position {
  align-items: flex-start;
}


/*mobile*/
@media (max-width: 480px){
  /* メッセージ */
.alert {
    width: 300px;
    display:block;
    /*margin:0 auto;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 7%;
    left: 10%;
}

  .search-result-word {
    height: 30px;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid;
  }
	.main-content {
    width: calc(50% - 10px);
    height: 280px;
    position: relative;
    border: 1px solid #e0e0e0;
	}

  .new-video-icon {
    right: 1rem;
  }
  .ranking_img {
    /*display: inline-block;
    width: 100%;
    height: 100px;
    border-radius: 6px 6px 0 0;
    object-fit: cover;*/
    display: inline-block;
    height: 100px;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
  }
  .ranking_video {
    display: inline-block;
    width: 100%;
    height: 100px;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
  }
  .ranking-video-icon {
    right: -11.5rem;
  }
  .camera-position {
    /*display: block;
    position: relative;
    height: 100px;*/
    position: absolute;
    top: 0;
    left: 0;
  }
  .top_avatar_name {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-left: auto;
    position: relative;
    top: -2.6rem;
    /*float: right;*/
  }

  .top_avatar_name2 {
    right: .5rem;
    width: 25px;
    height: 25px;
    margin-top: .5rem;
  }

  .content-list-text .card_item_text {
    width: 300px;
  }
  .new-content-list .content-title {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
  }
  .form-position {
    /*width: 70%;*/
    padding: 2rem 0;
    margin: 0 auto;
  }
  .likes {
    right: 1rem
  }
  .content-new-title {
    /*float: left;*/
  }
  .user-block {
    text-align: right;
  }
  .content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }
  .ranking_tag {
    height: 32px;
  }
  .card_item_detail {
      /* border: 1px solid #e0e0e0; */
      position: relative;
      top: 9.6rem;
  }
    .get-current {
        width: 100%;
        padding: 0;
        border: 1px solid;
  }
  .current-p {
        text-align: center;
        margin-bottom: 0;
        padding: 1rem 3rem;
  }
  .user-thumb {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin: 8px 0 8px 6px;
  }
  .user-profile {
    float: left;
    padding: 10px 8px 10px 12px;
    height: 60px;
    position: relative;
    width: calc(100% - 80px);
  }
  .user-name {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
  }
  .user-info {
    position: absolute;
    left: 12px;
    bottom: -3px;
    font-size: 10px;
    color: #988D8D;
  }
  .popular-wrap {
    border-bottom: 1px dotted #e7e7e7;
    display: block;
    height: 6rem;
  }
  .content_list {
        padding-left: 0;
  }
  .ranking-num {
    font-size: 15px;
  }
   .side_user-thumb{
    position: relative;
    top: .5rem;
  }
  .po-u-section {
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    height: 20px;


    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .fa-videosize {
        font-size: 1.5rem;
  }
/*  .content-list-text {
    position: relative;
    left: 10px;
}*/

}
