.user {
	box-sizing: content-box;
    width: 100%;
    border-bottom: 1px solid #efefef;
}
.user-container {
    width: 600px;
    margin: 0 auto;
    position: relative;
}
.user-top {
	padding: 1rem;
	width: 100%;
}
.user-info {
	position: relative;
    top: -3rem;
}
.user-img {
	/*width: 30%;*/
	margin: 0 auto;
	float: left;

}
.nosee {
	text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}
/*.avatar_name {
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
	height: 50px;
	object-fit: cover;
}*/

.user-bottom {
	padding: 1rem;
}


.list-size {
	width: 30%;
	height: 100px;
}

.content {
	display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    padding: .5rem;
    width: 100%;
}
.card_item_list {
	/*display: inline-block;*/
	object-fit: cover;
	border-radius: 3px;
	margin-bottom: .3rem;
		width: 100px;
	height: 100px;
}

.video-back {
	background-color: black;
}
.content-size {
	width: 33%;
	height: 150px;
	margin: .1rem;
	position: relative;
}
.content-size2 {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
    /*object-fit: cover;*/
}

.video-icon {
    position: relative;
    top: 1rem;
    z-index: 100;
    right: -30rem;
 }
 .current-p {
 	color: #fff;
    background-color: #03a9f4;
    text-align: center;
    height: 40px;
    padding-top: 1rem;
}

.switch-bottom {
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
}
.result-icons {
	text-align: right;
}
.switch-left {
	margin-right: 1rem;
}
/* メッセージ */
.alert {
    width: 300px;
    display:block;
    /*margin:0 auto;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 0;
    left: 10%;
}
.account-avatar {
	border-radius: 50%;
	overflow: hidden;
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 0 9rem;
}
.search-result-word {
	text-align: center;
	margin:2rem 0 1rem;
	font-size: 1.5rem;
}
/*.user-btn {
	position: absolute;
    top: 7rem;
    right: 5.5rem;
}
.user-posts {
	position: absolute;
    top: 4rem;
    right: 18rem;
    font-size: 1.1rem;
}
.user-posts span {
	position: relative;
    top: -2rem;
    right: -2rem;
    font-size: 1.3rem;
}

.user-follows {
	position: absolute;
    top: 4rem;
    right: 6rem;
    font-size: 1.1rem;
}
.user-follows span {
	position: relative;
    top: -2rem;
    right: -2rem;
    font-size: 1.3rem;
}

.user-followers {
	position: absolute;
    top: 4rem;
    right: 11.5rem;
    font-size: 1.1rem;
}
.user-followers span {
	position: relative;
    top: -2rem;
    right: -2.5rem;
    font-size: 1.3rem;
}
*/

.edit-user-info {
	border-top: 1px solid #e0e0e0;
}
.img-section {
	position: relative;
    right: -11rem;
}
.img-modal {
	/*position: absolute;
	top: 1rem;
	right: 9rem;*/
}
.imhedpos {
	position: relative;
    right: -17rem;
    top: -2.5rem;
}

.imgsub {
	width: 100%;
	font-size: 1.5rem;
}
.imgup {
	color: #3897f0;
    font-weight: 700;
}
.imgdel {
	color: #ed4956;
	font-weight: 700;
}
.upposition {
	margin:1rem auto;
}

.ch-profile {
	text-align: center;
	color: #262626;
	font-weight: 600;
	font-size: 16px;
    padding: 1rem;
}

.form-item {
	position: relative;
	height: 46px;
    padding: 0px;
    margin: 25px 0;
    position: relative;
}
.form-item .label-pos {
	position: absolute;
    bottom: 0px;
    height: 32px;
    min-width: 133.3px;
    margin: 0px;
    line-height: 32px;
    font-size: 12px;
    text-align: right;
    color: var(--label-color);
    font-weight: 600;
    line-height: 18px;
}
.form-item input {
	border-radius: 2px;
    height: 36px;
    border: 1px solid #E8E1E1;
    position: absolute;
    bottom: 0px;
    left: 28%;
    width: 260px;
    height: 32px;
    padding: 7px 8px 7px 12px;
    font-size: 12px;
    color: #988D8D;
    line-height: 18px;
    font-weight: 400;
}

.L3NKy {
    background-color: #3897f0;
    border-radius: 4px;
    color: #fff;
}
._8A5w5{
    background-color: transparent;
    border: 1px solid #dbdbdb;
    /*padding: 0 24px;*/
}

.user-name-h2 {
	font-size: 2.5rem;
    line-height: 40px;
    font-weight: 200;
    width: 25%;
    margin: 0 auto;
}

.user-btn {
	position: relative;
	top: 8rem;
    right: 2rem;
    width: 22%;
    margin: 0 auto;
}
/*.user-posts ,.user-cim{
	width: 25%;
    margin: 0 auto;
}*/
.get-current {
	width: 100%;
}
.ul-lis{

	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 10px;
}

.ul-lis li {
	font-size: 16px;
    margin-right: 40px;
}
.user-cim {
	width: 25%;
    margin: 0 auto;
}

.logout-iconpos {
	position: relative;
    top: 1rem;
    right: -2rem;
}
.imgcoverstyle {
	object-fit: cover;
}


@media (max-width: 480px){

	.user-info {
	    position: relative;
	    top: -1rem;
	}
	.user-info2 {
	    position: relative;
	    top: -2rem;
	}
	.account-avatar {
	width: 80px;
	height: 80px;
	margin: 0;
	}
	.card_item_list {
	    width: 33%;
	    height: 100px;
	    margin: 0.05rem;
	    position: relative;
	}
	.card_item_list2 {
		width: 100%;
		height: 100%;
		position: absolute;
    	top: 0;
    	left: 0;
	}
	.video-icon {
	    /*position: relative;
	    top: 0;
	    right: -9.5rem;*/
	    z-index: 100;
	    position: absolute;
    	right: .5rem;
    	top: .1rem
 	}
 	.get-current {
        width: 100%;
        padding: 0;
        /*border: 1px solid;*/
    }
    .current-p {
        text-align: center;
        margin-bottom: 0;
        padding: 1rem 3rem;
    }
    .user-btn .action-wrap {
    	border: 1px solid #e0e0e0;
    	/*padding: .7rem 6.5rem;*/
    	width: 130px;
    	height: 30px;
    }
    .user-btn {
		position: absolute;
	    top: 5rem;
	    right: 5.5rem;
	    width: auto;
	}
	.user-posts {
		position: absolute;
	    top: 3rem;
	    right: 18rem;
	    font-size: 1.1rem;
	}

	.user-posts span {
		position: relative;
	    top: -2rem;
	    right: -2rem;
	    font-size: 1.3rem;
	}

	.user-follows {
		position: absolute;
	    top: 3rem;
	    right: 6rem;
	    font-size: 1.1rem;
	}
	.user-follows span {
		position: relative;
	    top: -2rem;
	    right: -2rem;
	    font-size: 1.3rem;
	}

	.user-followers {
		position: absolute;
	    top: 3rem;
	    right: 11.5rem;
	    font-size: 1.1rem;
	}
	.user-followers span {
		position: relative;
	    top: -2rem;
	    right: -2.5rem;
	    font-size: 1.3rem;
	}
	.form-item input {
	    bottom: 0px;
	    left: 13%;
	    width: 260px;
	    height: 32px;
	    padding: 7px 8px 7px 12px;
	}
	.edit-selfint {
		bottom: 0px;
	    left: 13%;
	    width: 260px;
	    height: 32px;
	    padding: 7px 8px 7px 12px;
	}
	.img-section {
    	position: relative;
    	right: -3rem;
	}
	.user-container {
		width: auto;
	}
	.imhedpos {
		position: relative;
		top: -2rem;
		left: 11rem;
	}
	.img-section {
		position: relative;
		top: 0;
		left: 0;
	}
	.rubi-pos {
		position: relative;
		right: -5rem;
		color: var(--label-color);
		font-weight: 600;
    	line-height: 18px;
	}
	.avatar-pos {
		position: relative;
    	right: -6rem
	}
	.img-pad {
		padding: 1rem;
	}
	.logout-iconpos {
	    right: -1rem;
	}

	.notme {
		font-weight: bold;
		border: 1px solid #e0e0e0;
	    width: 130px;
	    height: 30px;
		width: 150px;
	}

}