.user {
	box-sizing: content-box;
    width: 100%;
    border-bottom: 1px solid #efefef;
}
.user-top {
	padding: 1rem;
	width: 100%;

}

.user-img {
	/*width: 30%;*/
	margin: 0 auto;

}
.avatar_name {
	border-radius: 50%;
	overflow: hidden;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.user-bottom {
	padding: 1rem;
}


.list-size {
	width: 30%;
	height: 100px;
}

.content {
	display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    padding: .5rem;
    width: 100%;
}
.card_item_list {
	/*display: inline-block;*/
	object-fit: cover;
	border-radius: 3px;
	margin-bottom: .3rem;
		width: 100px;
	height: 100px;
}

.video-back {
	background-color: black;
}
.content-size {
	width: 32%;
	height: 150px;
	margin: .1rem;
	position: relative;
}
.content-size2 {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
}

.video-icon {
    position: relative;
    top: 1rem;
    z-index: 100;
    right: -28rem;
 }

@media (max-width: 480px){
	.card_item_list {
	    width: 33%;
	    height: 100px;
	    margin: 0.05rem;
	    position: relative;
	}
	.card_item_list2 {
		width: 100%;
		height: 100%;
		position: absolute;
    	top: 0;
    	left: 0;
	}
	.video-icon {
	    position: relative;
	    top: 0;
	    z-index: 100;
	    right: -9.5rem;
 }
}